/* Import League Spartan from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "./colors.css";
@import "./typography.css";

@theme {
  --font-league: "League Spartan", "system-ui", "sans-serif";
}

@layer base {

  html,
  body {
    @apply w-full h-full overflow-hidden font-league;
    font-size: var(--text-ground);
    line-height: 1;
  }

  #root {
    height: 100%;
  }

  ::selection {
    @apply bg-primary/20;
  }
}

@layer components {

  /* buttons */
  .btn {
    @apply pt-3.5 pl-[18px] pb-[11px] pr-[19px] inline-flex items-center justify-center rounded-md font-medium transition-colors disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn--primary {
    @apply text-white bg-primary hover:bg-primary/70;
  }

  .btn--flat {
    @apply bg-transparent p-0 rounded-none h-fit;
  }


  .btn--rounded {
    @apply rounded-full;
  }

  /* end of buttons */

  /* Invoice status */

  .invoice-status {
    @apply w-full truncate;
    max-width: 104px;
  }

  .invoice-status--draft {
    @apply text-draft bg-draft/10;

    .dot {
      @apply bg-draft;
    }
  }

  .invoice-status--pending {
    @apply bg-pending/10 text-pending;

    .dot {
      @apply bg-pending;
    }
  }

  .invoice-status--paid {
    @apply bg-paid/10 text-paid;

    .dot {
      @apply bg-paid;
    }
  }

  .invoice-status--canceled {
    @apply bg-red-600 text-white;

    .dot {
      @apply bg-white;
    }
  }

  .invoice-status--overdue {
    @apply bg-red-600 text-white;

    .dot {
      @apply bg-white;
    }
  }

  /* end of invoice status */

  /* input text field */
  .input-text-field {
    @apply w-full border rounded-sm px-5 pt-[18px] pb-[15px] border-gray-100 text-black-300 focus:outline-none focus:border-primary caret-primary placeholder:font-thin font-bold disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-text-field--state-error {
    @apply border-red-100 focus:border-red-100;
  }

  .input--error {
    @apply border-red-100 focus:border-red-100;
  }

  /* end of input text field */
}

@layer utilities {}

@layer base {
  h1 {
    @apply text-medium lg:text-large;
    font-size: var(--text-large);
    line-height: calc(var(--text-large) * 1);
  }

  h2 {
    font-size: var(--text-medium);
    line-height: calc(var(--text-medium) * 1);
  }

  h3 {
    font-size: var(--text-ground);
    line-height: calc(var(--text-medium) * 1);
  }

  h3.label {
    font-size: var(--text-ground);
    line-height: 15px;
  }

  p.description {
    font-size: 13px;
    line-height: 15px;
  }

  label,
  th {
    @apply text-ground text-tertiary;
    line-height: 15px;
  }

  .label--error {
    @apply text-red-100;
  }

  legend {
    @apply text-ground text-primary font-semibold capitalize;
    line-height: 15px;
  }

  .legend--large {
    @apply text-[#777F98] text-lg font-bold leading-8;
  }
}